.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body
{
    /* background-color: red; */
    padding: 0;
    margin: 0;
}

#img1
{
    position: absolute;
    width: 35%;
    right: 30%;
    top: 25%;
}

#img2
{
    position: absolute;
    width: 30%;
    bottom: 0%;
}

#img3
{
    position: absolute;
    width: 10%;
    left: 20%;
    top: 35%;
}

#image1
{
    position: absolute;
    width: 27%;
    right: 35%;
    top: 32%;
}

#images p
{
    position: absolute;
    width: 24%;
    font-size: large;
    padding: 20px 20px;
    top: 45%;
    left: 15%;
}

#images h3
{
    position: absolute;
    bottom: 20%;
    left: 16.5%;
}

#images h3 span
{
    font-size: small;
    opacity: .5;
}

#add
{
    position: absolute;
    padding: 1px 10px;
    bottom: 8%;
    right: 55%;
    border: none;
    border-radius: 20px;
    font-size: larger;
    width: 5%;
    word-spacing: 20px;
    cursor: pointer;
}